.section_poll{
    max-width: 800px;
    // display: inline-flex;
    // flex-direction: column;
    float: left;
}
.poll_question{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    span{
        background: none;
        contain:max-content;
    }
    label{
        background: none;
        height:100%;
        width: 100%;
        
    }
    :where(.css-dev-only-do-not-override-xshfgm).ant-radio-button-wrapper-checked:not(:where(.css-dev-only-do-not-override-xshfgm).ant-radio-button-wrapper-disabled) { 
        background: none;
        // border: none;
        // width: 0px;
        // background: none;
        // border: none;
    }
    :where(.css-dev-only-do-not-override-1fev447).ant-radio-button-wrapper-checked:not(:where(.css-dev-only-do-not-override-1fev447).ant-radio-button-wrapper-disabled) {
        background: none;
        // width: 0px;
        // background: none;
        // border: none;
    }
    :where(.css-dev-only-do-not-override-1fev447).ant-radio-button-wrapper >.ant-radio-button {
        position: relative;
        // width: 0px;
        // background: none;
        
        // border-radius:12px;
    }
    .ant-radio-button-wrapper-checked{
        background: none;
        // border: 3px solid #7ABDBD;
    }
    .poll_option{
        // border: none;
        border: 2px solid #AEB1B6;
        font-size: 12px;
        padding-top: 20px;
        h1{
            font-weight: 700;
        }
        h2{
            font-weight: 400;
        }
        // .poll_question .ant-radio-button-wrapper-checked + .wrapper_poll_option{
        // // .wrapper_poll_option{
        // //     border: 2px solid red;
        // // }
        // border: 2px solid red;
        // } 
    }
    
}
.title_circle{
    // display: flex;
    // position: relative;
    // // word-wrap: break-word;
    // h1{
    //     // width: 200px;
    // } 
    text-align: center;
    // word-wrap:initial;
    h1{
        // padding-left: 12px;
        overflow-wrap: break-word;
    }
   
}
.img_circle{
    // margin-left: 200px;
    // position: absolute;
    float: right;
    right: 0;
    width: 30px;
    height: 30px;
    background-image: url('src//Assets//circleWhite.png');
    background-size: contain;
    // left: 20px;
    // right: 20px;
    // left: 100px;
}
.wrapper_poll_option{
    // border: 3px solid #AEB1B6;
    border-radius: 12px;
    width: 320px;
    max-height: 200px;
    text-align: center;
    display: flex;
    
    // justify-content: flex-end;
    
}
.wrapper_poll_option.question7{
        max-height: 120px;
}
// .wrapper_poll_option:focus-within{
//     border: 3px solid #7ABDBD;
//     transition: 0.2s;
//     .img_circle{
//         transition: 0.2s;
//         background-image: url('src//Assets//circleBlue.png');
//     }
// }
// .wrapper_poll_option_active{
//     border: 3px solid #7ABDBD;
//     transition: 0.2s;
//     .img_circle{
//         transition: 0.2s;
//         background-image: url('src//Assets//circleBlue.png');
//     }
// }
.inner_static_poll_title{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    h1{
        color: #F19173;
        font-weight: 600;
    }
    h2{
        font-size: 16px;
        font-weight: 400;
    }
}
.static_poll_title{
    width: 700px;
    display: flex;
    margin-bottom: 30px;
}
.h1_title_poll{
    font-weight: 700;
    margin-bottom: 20px;
    height: 82.78px;
}

// .wrapper_poll_option .active{
//     border: 3px solid #7ABDBD;
//     transition: 0.2s;
// }
.wrapper_poll_options{
    display: flex;
    // justify-content: space-between;
    width: 658px;
    height: 453px;
    margin-right: 40px;
}
