.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    // width: 79%;
    // height: 500px;
    // //float: left;
    // display: flex;
    // justify-content: space-between;
    // flex-flow: row wrap;
    // border: 1px solid silver;


}