.ProductCard_mini {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-flow: column wrap;
}

.action {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
