.filter {
    // width: 20%;
    // height: 500px;
    // float: left;
    // border: 1px solid silver;
    min-width: 255px;
    .radio_group_filter{
        // border: transparent;
        // :where(.css-dev-only-do-not-override-1gxjj3r).ant-radio-button-wrapper-checked:not(:where(.css-dev-only-do-not-override-1gxjj3r).ant-radio-button-wrapper-disabled){
        //         background:#7ABDBD;
        //         color: white;
        //         border-color: transparent;
        // }
        // :where(.css-dev-only-do-not-override-1gxjj3r).ant-radio-button-wrapper{
        //     background: #F2F4F8;
        //     border: none;
        // }
        // :where(.css-dev-only-do-not-override-1gxjj3r).ant-radio-button-wrapper-checked:not(:where(.css-dev-only-do-not-override-1gxjj3r).ant-radio-button-wrapper-disabled)::before{
        //     background-color: transparent;
        // }
        // .ant-radio-button-wrapper{
        //     &:hover{
        //         color:black;
        //     }
        // }
        // .ant-radio-button-wrapper-checked{
        //     &:hover{
        //         color:white;
        //     }
        // }
        label{
            background: #F2F4F8;;
        }
        :where(.css-dev-only-do-not-override-1gxjj3r).ant-radio-button-wrapper{
            border: none;
        }
        :where(.css-dev-only-do-not-override-1p43g7w).ant-radio-button-wrapper:not(:first-child)::before{
            background-color: transparent;
        }
        :where(.css-dev-only-do-not-override-1p43g7w).ant-radio-button-wrapper-checked:not(:where(.css-dev-only-do-not-override-1p43g7w).ant-radio-button-wrapper-disabled){
            background: #7ABDBD;
            color: white;
           
        }
        :where(.css-dev-only-do-not-override-1p43g7w).ant-radio-button-wrapper-checked:not(:where(.css-dev-only-do-not-override-1p43g7w).ant-radio-button-wrapper-disabled):first-child{
            border-color: transparent;
        }
        :where(.css-dev-only-do-not-override-1p43g7w).ant-radio-button-wrapper{
            border-color: transparent;
        }
        :where(.css-dev-only-do-not-override-1p43g7w).ant-radio-button-wrapper-checked:not(:where(.css-dev-only-do-not-override-1p43g7w).ant-radio-button-wrapper-disabled)::before{
            background-color: transparent;
        }
        .ant-radio-button-wrapper{
            &:hover{
                color:black;
            }
        }
        .ant-radio-button-wrapper-checked{
            &:hover{
                color:white;
            }
        }
        
        .radio_cachepot_filter{
            display: inline-flex;
            align-content: center;
            align-items: center;
            width: 122px;
            height: 34px;
        }
        .radio_plant_filter{
            display: inline-flex;
            align-content: center;
            align-items: center;
            height: 34px;
        }
    }
    .btn_reset_filters{
        box-sizing: border-box;
        background: #7ABDBD;
        border: none;
        border-radius: 8px;
        color: white;
        padding: 8px 8px;
        margin-top: 10px;
        cursor: pointer;
    }
    .dropdown {
        width: 253px;
        .ant-select-selector{
            height: 40px;
            display: flex;
            justify-content: center;
            align-items:center;
            .ant-select-selection-item{
                color:#F5F5F5;
                padding-left: 10px;
            }
        }
        //height: 52px;
        margin-bottom: 20px;
        font-size: 26px;
        display: flex;
        font-weight: 700;
        
    }
    .btn_plants {
        width: 132px;
        height: 42px;
        background: #7ABDBD;
        border-radius: 8px;
        border: none;
        color: white;
        font-weight: 500;
        padding-top: 10px;

    }
    .btn_cachepot {
        width: 120px;
        height: 42px;
        background: #F2F4F8;
        border-radius: 4px;
        border: none;
        font-weight: 500;
        padding-top: 10px;
    }
    .careComplexity {
        display: flex;
        background-color: #F5F5F5;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 12px;
        padding-bottom: 8px;
        justify-items: center;
        margin-top: 20px;
        border-radius: 8px;
        width: 253px;
        h3 {
            text-align: left;
            font-size: 14px;
            font-weight: 600;
        }
        .img_easy {
            width: 40px;
            height: 40px;
        }
        .img_middle {
            margin-left: 5px;
            width: 40px;
            height: 40px;
        }
        .img_hard {
            margin-left: 5px;
            width: 40px;
            height: 40px;
        }

    }
    .img_plant {
        width: 22px;
        height: 22px;
        // margin-bottom: 5px;
        margin-right: 8px;

    }
    .img_cachepot {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        // margin-bottom: 5px;
        // margin-right: 5px;

    }
.cont_price_editor{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 20px;
    h3{
        font-weight: 600;
    }
}
    .price_editor {
        display: flex;
        justify-content: flex-start;
        .btn_from {
            width: 80px;
        }
        .btn_to {
            width: 80px;
        }
        .line {
            margin-left: 10px;
            margin-right: 10px;
        }
        .btn_ok {
            background: #7ABDBD;
            border: none;
            color: white;
        }
    }
}
.radio_plants_cachepot{
    display: inline-flex;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0,0,5px rgba(0,0,0,0.25);
    width: 253px;
    justify-content: space-between;
}
// .radio__input{
//     display: none;
// }
// .radio__label{
//     padding: 8px 0px;
//     font-size: 14px;
//     color:black;
//     background:#F2F4F8;
//     cursor: pointer;
//     transition: background 0.1s;
//     width: 125px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// .radio__input:checked + .radio__label{
//     background: #7ABDBD;
//     color: white;
// }
