footer{
    display: flex;
    justify-content: space-between;
    height: 120px;
    
}
.line_footer{
        height: 0; 
        border: 0; 
        border-top: 1px solid #7ABDBD;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
.logo_copyright{
    display: flex;
    flex-direction: column;
}
.copyright{
    font-weight: 400;
    margin-left: 5px;
}
.logo_img1{
    width: 129px;
    height: 38px;
    margin-bottom: 20px;
}
.telegram{
    display: flex;
    justify-content: space-between;
    width: 120px;
    // align-items: center;
    padding-top: 20px;
}
.logo_tg{
    width: 36px;
    height: 36px;
}
.chat_bot{
    margin-top: 5px;
    font-weight: 500;
}