.carousel_products{
    width: 1200px;
    height:min-content;
}
.accessories{
    width: 1050px;
    margin-left: 0px;
    .slick-prev, .slick-next {
        width: 40px;
        height: 40px;
        top: 150px;
    }
    .slick-list{
        width: 1000px;
        height: 381.99px;
    }
    .slick-slider{
        width: 1020px;
    }
    .slick-prev{
        left: -45px;
    }
    .slick-track{
        margin-left: 0;
        margin-right: 0;
    }
}