.cont_main_info_plant {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 100px;
}

.img_product {
    width: 393px;
    // height: 380px;
    border-radius: 12px;
}

.cont_product_info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 456px;
    max-height: 358px;
    padding-top: 30px;

    .cont_in_cart_heart {
        display: flex;
        justify-content: space-between;
        width: 210px;
        margin-top: 10px;

        .btn_in_сart {
            background: #D96BFF;
            color: white;
            border: none;
            border-radius: 8px;
            width: 133px;
            height: 40px;
            font-size: 18px;
            font-weight: 600;
        }

        .btn_heart {
            width: 40px;
            height: 40px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.title {
    font-weight: 700;
    font-size: 32px;
    max-width: 400px;
    text-align: left;
    line-height: 120%;
}

.description {
    text-align: left;
    max-width: 454px;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    margin-top: 10px;
}

.price {
    text-align: left;
    font-weight: 500;
    font-size: 32px;
    color: #FF78B7;

}

.cont_price_pot {
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    margin-top: 20px;
}

.cont_pot_h4 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    max-width: 450px;
    padding-top: 5px;
    margin-left: 40px;

    img {
        width: 24px;
        height: 24px;
    }

    h4 {
        font-weight: 400;
        color: #F19173;
        font-size: 16px;
        margin-left: 15px;
        margin-top: 3px;
    }
}

.line1 {
    height: 0;
    border: 0;
    border-top: 1px solid #7ABDBD;
    margin-top: 2rem;
    margin-bottom: 10px;
}

.line2 {
    height: 0;
    border: 0;
    border-top: 1px solid #7ABDBD;
    margin-top: 10px;
    margin-bottom: 30px;
}

.h_cachepot {
    display: flex;
    max-width: 330px;
    justify-content: space-between;
    margin-bottom: 20px;

    h3 {
        font-size: 24px;
        font-weight: 700;
        margin-top: 5px;
    }
}

.cont_accessories {
    display: flex;
    margin-left: 40px;
    padding-right: 20px;
}

.h_info {
    display: flex;
    max-width: 240px;
    justify-content: space-between;
    margin-bottom: 10px;

    h3 {
        font-size: 24px;
        font-weight: 700;
        margin-top: 5px;
    }
}

.cont_info {
    text-align: left;
    margin-left: 70px;

    p {
        font-size: 20px;
        font-weight: 500;
    }
}

.h_care {
    display: flex;
    max-width: 130px;
    justify-content: space-between;
    margin-bottom: 10px;

    h3 {
        font-size: 24px;
        font-weight: 700;
        margin-top: 5px;
    }
}

.cont_care {
    text-align: left;
    margin-left: 70px;

    p {
        font-size: 20px;
        font-weight: 500;
    }
}

.radio__info_product {
    display: inline-flex;
    overflow: hidden;
    border-radius: 20px;
    // box-shadow: 0,0,5px rgba(0,0,0,0.25);
    width: 553px;
    // justify-content: space-between;
    justify-content: flex-start;

}

.radio__input_product {
    display: none;
}

.radio__label_product {
    // padding: 8px 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    font-size: 18px;
    color: #F19173;
    background: white;
    cursor: pointer;
    transition: background 0.1s;
    width: 200px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #F19173;
    font-weight: 500;
    margin-left: 20px;
}

.radio__input_product:checked+.radio__label_product {
    background: #7ABDBD;
    color: white;
    border: none;

    .img_pot_test {
        background-image: url("/potWhite.png");
    }

    .img_info_test {
        background-image: url("/infoWhite.png");
    }

    .img_care_test {
        background-image: url("/careWhite.png");
    }
}

.img_pot_test {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    background-image: url("/potBrown.png");
    background-size: contain;
}

.img_info_test {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    background-image: url("/infoBrown.png");
    background-size: contain;
}

.img_care_test {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    background-image: url("/careBrown.png");
    background-size: contain;
}

.productCard_poll {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;

    .wrapper_plant_info {
        max-width: 100%;

        border: 2px solid #7ABDBD;
        border-radius: 8px;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
    }

    .h1_best_result {
        font-family: 'FoglihtenNo06', sans-serif;
        font-size: 50px;
        max-width: 250px;
    }

    .cont_plant_info {
        max-width: 100%;
    }

    .plant_name {
        text-decoration: underline;
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 30px;
    }

    .plant_category {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 30px;

        span {
            color: #F19173;
            font-weight: 600;
        }
    }

    .btn_in_сart {
        background: #D96BFF;
        color: white;
        border: none;
        border-radius: 8px;
        width: 133px;
        height: 40px;
        font-size: 18px;
        font-weight: 600;
    }

    .wrapper_same_product_img {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;

        h1 {
            font-family: 'FoglihtenNo06', sans-serif;
            font-size: 40px;
            max-width: 250px;
        }
    }

    .img_arrow_poll {
        width: 72px;
        height: 72px;
        align-self: flex-end;
    }

    .wrapper_plant_img {
        max-width: 590px;
        max-height: 550px;

        img {
            position: relative;
        }

        .background_poll {
            width: 567px;
            right: 100px;
            bottom: 420px;
            z-index: 1;
        }

        .plant_img {
            width: 387px;
            height: 551px;
            object-fit: cover;
            z-index: 2;
            border-radius: 20px;
        }
    }
}
.productCard_poll{
    .action{
        display: flex;
        justify-content: flex-start;
        
        .price_cart{
            margin-right: 20px;
            display: flex;
            padding-top: 5px;
        }
        .btn_heart{
            margin-left: 20px;
            cursor: pointer;
        }
    }
}
.productCard_order{
    .cont_main_info_plant{
        // display: flex;
        padding-left: 0px;
        padding-right: 0px;
        // justify-content: space-between;
        // align-items: center;
        display: grid;
        grid-template-columns: 1fr 229px 1fr 1fr 1fr ;
        // grid-auto-columns: minmax(100px, 200px);
        align-items: center;
    }
    .wrapper_img_title_quantity{
        display: flex;
        justify-content: space-between;
        align-items:center;
        flex: 3;
        // min-width: 696.52px;
    }
    .img_product{
        width: 90px;
        height: 88px;
        border-radius: 8px;
    }
    .title{
        font-size: 20px;
        font-weight: 500;
        width: 229px;
        // margin-left: 15px;
        // text-align: center;
        // text-overflow: ellipsis;
        // overflow: hidden;
        // display: -webkit-box;
        // -webkit-line-clamp: 1;
        // -webkit-box-orient: vertical;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .prod_quantity{
        font-size: 20px;
        font-weight: 300;
        margin-left: 15px;
        margin-right: 50px;
        text-align: center;
    }
    .price{
        font-size: 20px;
        font-weight: 600;
        color: black;
        // flex: 0.8;
    
    }
    .sum{
        font-size: 20px;
        font-weight: 600;
        flex: 0.8;
        
    }
}