*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	max-width: 1280px;
	/* min-width: 1380px; */
	margin: 0 auto;
	padding-top: 1rem;
	padding-left: 50px;
	padding-right: 50px; 
	/* text-align: center; */
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

@media only screen and (max-width: 1180px){
	header{
		.navbar{
			li{
				margin-left: 1rem;
				text-align: center;
				a{
					font-size: 18px;
				}
			}
		}
		.logo_img{
			width: 229px;
			margin-top: 10px;
		}
	}
	.ProductCard_mini{
		margin-left: 30px;
	}
	// .news_slider{
	// 	.news_img{
	// 		width: 953px;
	// 	}
	// 	.slick-list{
	// 		width: 953px;
	// 	}
	// }
}
@media only screen and (max-width: 1268px){
	
	.news_slider{
		padding-left: 100px !important;
		.news{
			width: 953px;
		}
		.news_img{
			width: 953px;
		}
		.slick-list {
			width: 953px;
		}
		.slick-next {
			right: -60px !important;
		}
		.slick-slider{
			width: 953px !important;
		}
	}
	.search_bar{
		padding-left: 100px !important;
	}
	.cards{
		.ProductCard_mini{
			margin-left: 72px !important;
		}
	}
}
@media only screen and (max-width: 1124px){
	
	.news_slider{
		padding-left: 60px !important;
		.news{
			width: 813px;
		}
		.news_img{
			width: 813px;
		}
		.slick-next {
			right: 30px;
		}
		.slick-slider{
			width: 813px !important;
		}
	}
	.news_slider .slick-list {
			width: 813px;
		}
	.ant-input-group{
		width: 80%;
	}
	.search_bar{
		padding-left: 60px !important;
	}
}
@media only screen and (max-width: 1160px){
	.cards{
		.ProductCard_mini{
		margin-left: 10px !important;
		}
	}
	
		
}
@media only screen and (max-width: 1160px){
	.news_slider{
		padding-left: 40px !important;
	}
}

@media only screen and (max-width: 1220px) {
	.accessories{
		padding-left: 30px;
		.ProductCard_mini{
			margin-left: 10px;
		}
		.slick-list {
			width: 1000px !important;
		}
		.slick-slider {
			width: 964px !important;
		}
	}
	.cont_main_info_plant{
		padding-right: 0px !important;
	}
}
@media only screen and (max-width: 1024px) {
	.accessories{
		padding-left: 30px;
		.ProductCard_mini{
			margin-left: 10px;
		}
		.slick-list {
			width: 860px !important;
		}
		.slick-slider {
			width: 790px !important;
		}
	}
	.cont_main_info_plant{
		padding-right: 0px;
		.img_product{
			width: 340px !important;
		}
	}
}