/* normalize.css used */

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding-top: 1rem;
	text-align: center;
}

hr{
	height: 0; 
	border: 0; 
	border-top: 1px solid #7ABDBD;
	margin-top: 2rem;
}

a{
	text-decoration: none;
	color: inherit;
}