.cont_modal_cachepot{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    z-index: 100;
    .modal_cachepot_inner{
        border-radius: 20px;
        background-color:white;
        width: 875px;
        min-height: 530px;
        padding-left: 60px;
        padding-top: 30px;
        padding-right: 30px;
        display: flex;
        justify-content: space-between;
        h1{
            font-weight: 700;
            font-size: 24px;
        }
    }
}
.cont_modal_cachepot.active{
    transform: scale(1);
}
