.products {
    display: flex;
    //justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    min-width: 500px;
    padding: 10px;
    
    
    .cards{
        flex: 6;
        max-width: 1000px;
        align-items:flex-end;
        margin-left: 30px;
    }
    .filter{
        flex: 2;
        align-self: flex-start;
        max-width: 255px;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items :flex-start;
        //min-width: 255px;
    }

   
    

}
.search_bar{
        font-family: 'Montserrat', sans-serif;
        display: flex;
        margin-left: auto;
        padding-left: 10px;
        .btn_category{
        
            width: 168px;
            height: 40px;
            background: #F19173;
            border-radius: 3px;
            border: none;
            color: white;
            font-weight: 500;
            font-size: 18px;
            padding-top: 6px;
        }
}

.img_leaf{
    width: 23px;
    height: 23px;
    margin-right: 8px;
    margin-bottom: 5px;
}